name: Issue-Labeler-RegEx
on:
  issues:
    types: [opened, edited, reopened]

jobs:
  triage:
    runs-on: ubuntu-latest
    steps:
    - uses: github/issue-labeler@v3.1 #May not be the latest version
      with:
        repo-token: "${{ secrets.MY_TOKEN }}"
        configuration-path: .github/labeler.yml
        enable-versioned-regex: 0
        include-title: 1